<div class="row">
  <h1 style="text-align: center">Audit Log Dashboard</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
              Employee
            </th>
            <th>
                Week starting
            </th>
            <th>
                Confirmed At
            </th>
            <th>
                Status
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="auditLogs">
        <%= render @audit_logs %>
    </tbody>
</table>
<div id="paginator">
    <%= paginate @audit_logs, remote: true %>
</div>